body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f3f4; /* Cinza muito claro para o fundo */
    margin: 0;
    padding: 0;
}

.calculadora {
    background-color: #ffffff; /* Branco para o fundo da calculadora */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.hidden {
    display: none;
}


.form-icon {
    color: #660708; /* Vermelho escuro para o ícone */
}

.table th, .table td {
    vertical-align: middle;
}

.btn-calcular {
    background-color: #660708; /* Vermelho escuro para o botão */
    color: #ffffff; /* Branco para o texto do botão */
    font-weight: bold;
}

.btn-calcular:hover {
    background-color: #85110c; /* Vermelho mais claro para o hover do botão */
}

.btn-secondary {
    background-color: #6c757d; /* Cinza para o botão Limpar */
    color: #ffffff; /* Branco para o texto do botão Limpar */
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Cinza mais escuro para o hover do botão Limpar */
}


.table thead th {
    background-color: #161a1d; /* Cinza escuro para o cabeçalho da tabela */
    color: #ffffff; /* Branco para o texto do cabeçalho */
}

.table tbody tr:nth-child(even) {
    background-color: #d3d3d3; /* Cinza claro para linhas pares da tabela */
}

.table tbody tr:hover {
    background-color: #b1a7a6; /* Bege claro para o hover das linhas da tabela */
}

#instructions {
    background-color: #d3d3d3; /* Vermelho coral para o fundo das instruções */
    color: #161a1d; /* Branco para o texto das instruções */
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
